// wff functions
// -------------
// documentation: none

// wff-get() - get $wff value
// short for map-get($wff, $key)

@function wff-get($key) {
  @return map-get($wff, $key);
}

// math-get() - get computed value
// column-size / span-size / gutter-size

@function math-get(
  $name,
  $math:    wff-get(math),
  $width:   wff-get(width),
  $columns: wff-get(columns),
  $gutters: wff-get(gutters)
) {
  $result: null;

  @if $name == column-size {
    $result: ($width - $gutters * ($columns - 1)) / $columns;
  }
  @else if $name == span-size {
    $result: $width / $columns;
  }
  @else if $name == gutter-size {
    $result: $gutters;
  }

  @if $result and $math == fluid {
    $result: 100% / ($width / $result);
  }

  @return $result;
}

// map-set() - not included with Sass
// thanks @Team-Sass (https://github.com/Team-Sass/Sassy-Maps/blob/0.x.x/sass/sassy-maps/_map-set.scss)

@function map-set($map, $key, $value) {
  @return map-merge($map, ($key: $value));
}

// layout() - generate a layout from the default one
// merge $map and $wff and return result

@function layout($map) {
  $new: $wff;
  @each $key, $value in $map {
    @if map-has-key($wff, $key) {
      $new: map-set($new, $key, $value);
    }
  }

  @return $new;
}

// default-layout() - override default layout
// merge $map and $wff in $wff global

@function default-layout($map) {
  $wff: layout($map) !global;

  @return $wff;
}

// precision() - because sometimes you don't want to use --precision
// from gist (https://gist.github.com/zoontek/37dcc670f128f41747b7)

@function precision($number, $decimals) {
  @if $decimals < 1 {
    @return round($number);
  }
  @if $number == round($number) {
    @return $number;
  }

  $square: 1;
  @for $i from 1 through $decimals {
    $square: $square * 10;
  }

  @return round($number * $square) / $square;
}
