// map-set() - not included with Sass
// Thanks @Team-Sass - https://github.com/Team-Sass/Sassy-Maps/blob/0.x.x/sass/sassy-maps/_map-set.scss
@function map-set($map, $key, $value) {
  @return map-merge($map, ($key: $value));
}

// Short for map-get($wff, $key)
@function wff-get($key) {
  @return map-get($wff, $key);
}

// Compute value (column/span)
@function math($name, $size: null) {
  $width:   wff-get(width);
  $columns: wff-get(columns);
  $gutter:  wff-get(gutter);
  $result:  null;

  @if $name == column {
    $result: ($width - $gutter * ($columns - 1)) / $columns;
    @if $size {
      $result: ($result + $gutter) * $size - $gutter;
    }
  }
  @elseif $name == span {
    $result: $width / $columns;
    @if $size {
      $result: $result * $size;
    }
  }

  @return $result;
}

// Return usable value (in % if fluid layout)
@function value($value, $width: wff-get(width)) {
  $fluid:  wff-get(math) == fluid;
  $static: wff-get(math) == static;

  @if $fluid {
    @return 100% / ($width / $value);
  }
  @else if $static {
    @return $value;
  }
}

// Generate a layout from the default one
@function layout($map) {
  $new: $wff;

  @each $key, $value in $map {
    @if map-has-key($wff, $key) {
      $new: map-set($new, $key, $value);
    }
  }

  @return $new;
}

// Override default layout
@function default-layout($map) {
  $wff: layout($map) !global;

  @return $wff;
}
