// $position: center/left/right
@mixin container($position: center) {
  @if $position == center {
    @extend %container-c-#{$wff-id};
  }
  @elseif $position == left {
    @extend %container-l-#{$wff-id};
  }
  @elseif $position == right {
    @extend %container-r-#{$wff-id};
  }
}

// Just do clearfix
@mixin row() {
  @extend %row-#{$wff-id};
}

// column (nested or not)
@mixin column($size: 1, $position: false) {
  $parent: wff-get(columns);
  $nested: length($size) == 3 and wff-get(math) != static;
  @if $nested { $parent: nth($size, 3); }

  @extend %column-#{nth($size, 1)}-of-#{$parent}-#{$wff-id};

  @if $position == false {
    @extend %column-m-#{$parent}-#{$wff-id};
  }
  @elseif nth($position, 1) == shift {
    @extend %column-m-#{$parent}-#{$wff-id};
    @extend %column-s-#{nth($position, 2)}-of-#{$parent}-#{$wff-id};
  }
  @elseif $position == last {
    @extend %last-#{$wff-id};
  }
}

// span (nested or not)
@mixin span($size: 1, $position: false) {
  $parent: wff-get(columns);
  $nested: length($size) == 3 and wff-get(math) != static;
  @if $nested { $parent: nth($size, 3); }

  @extend %span-#{nth($size, 1)}-of-#{$parent}-#{$wff-id};

  @if $position == false {
    @extend %span-m-#{$wff-id};
  }
  @elseif nth($position, 1) == shift {
    @extend %span-m-#{$wff-id};
    @extend %span-s-#{nth($position, 2)}-of-#{$parent}-#{$wff-id};
  }
  @elseif $position == last {
    @extend %last-#{$wff-id};
  }
}

// a gallery of columns
// $unset is usefull in @media, to…unset previous nth-of-type
@mixin column-gallery($size: 1, $unset: 0) {
  $parent: wff-get(columns);
  $nested: length($size) == 3 and wff-get(math) != static;
  @if $nested { $parent: nth($size, 3); }
  $per-line: ceil($parent / nth($size, 1));

  @include column($size);

  @if $unset > 0 {
    &:nth-of-type(#{$unset}n) {
      @include column($size);
    }
  }
  &:nth-of-type(#{$per-line}n) {
    @extend %last-#{$wff-id};
  }
}

// a gallery of spans
// $unset is usefull in @media, to…unset previous nth-of-type
@mixin span-gallery($size: 1, $unset: 0) {
  $parent: wff-get(columns);
  $nested: length($size) == 3 and wff-get(math) != static;
  @if $nested { $parent: nth($size, 3); }
  $per-line: ceil($parent / nth($size, 1));
  
  @include span($size);

  @if $unset > 0 {
    &:nth-of-type(#{$unset}n) {
      @include span($size);
    }
  }
  &:nth-of-type(#{$per-line}n) {
    @extend %last-#{$wff-id};
  }
}

// apply a width on fluid container
// make illusion of external gutters
@mixin external() {
  $width:  wff-get(width);
  $gutter: wff-get(gutter);

  @if wff-get(math) == fluid {
    width: 100% * ($width / ($width + (2 * $gutter)));
  }
}

// generate a lot of placeholders
@mixin placeholders() {
  $fluid:   wff-get(math) == fluid;
  $static:  wff-get(math) == static;
  $width:   wff-get(width);
  $columns: wff-get(columns);
  $gutter:  wff-get(gutter);
  $column:  math(column);
  $span:    math(span);

  $start: null;
  @if $fluid { $start: 2; }
  @elseif $static { $start: $columns; }
  
  // container
  %container-c-#{$wff-id} {
    @if $fluid { max-width: $width; }
    @elseif $static { width: $width; }
    margin-right: auto;
    margin-left: auto;
  }

  %container-l-#{$wff-id} {
    @if $fluid { max-width: $width; }
    @elseif $static { width: $width; }
    margin-right: auto;
    margin-left: 0;
  }

  %container-r-#{$wff-id} {
    @if $fluid { max-width: $width; }
    @elseif $static { width: $width; }
    margin-right: 0;
    margin-left: auto;
  }

  // row
  %row-#{$wff-id} {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  // columns
  @for $parent from $start through $columns {
    $p-width: math(column, $parent);

    @for $size from 1 through $parent - 1 {
      %column-#{$size}-of-#{$parent}-#{$wff-id} {
        width: value(math(column, $size), $p-width);
      }
    }
  }

  // spans
  @for $parent from $start through $columns {
    $p-width: math(span, $parent);

    @for $size from 1 through $parent - 1 {
      %span-#{$size}-of-#{$parent}-#{$wff-id} {
        width: value(math(span, $size), $p-width);
      }
    }
  }

  // shifted columns
  @for $parent from $start through $columns {
    $p-width: math(column, $parent);

    @for $size from 1 through $parent - 1 {
      %column-s-#{$size}-of-#{$parent}-#{$wff-id} {
        margin-left: value(($column + $gutter) * $size, $p-width);
      }
    }
  }

  // shifted spans
  @for $parent from $start through $columns {
    $p-width: math(span, $parent);

    @for $size from 1 through $parent - 1 {
      %span-s-#{$size}-of-#{$parent}-#{$wff-id} {
        margin-left: value($span * $size, $p-width);
      }
    }
  }

  // columns margins
  @for $parent from $start through $columns {
    $p-width: math(column, $parent);

    %column-m-#{$parent}-#{$wff-id} {
      float: left;
      margin-right: value($gutter, $p-width);
    }
  }

  // spans margins
  %span-m-#{$wff-id} {
    float: left;
  }

  // last of type
  %last-#{$wff-id} {
    float: right;
    margin-right: 0;
  }
}

// mixin for new breakpoint
// re-generate placeholders using unique id
@mixin breakpoint($query: 'screen', $layout: $wff, $placeholders: true) {
  @media #{$query} {
    $old:    $wff;
    $wff:    $layout     !global;
    $wff-id: unique-id() !global;

    @if $placeholders {
      @include placeholders;
    }
    @content;

    $wff:    $old !global;
    $wff-id: null !global;
  }
}

// display a linear-gradient based debug grid. not very precise
// $position: center/left/right
@mixin debug($position: center) {
  $fluid:   wff-get(math) == fluid;
  $static:  wff-get(math) == static;
  $width:   wff-get(width);
  $columns: wff-get(columns);
  $gutter:  wff-get(gutter);
  $column:  math(column);
  $span:    math(span);

  body:before {
    content: "";
    position: fixed;
    opacity: 0.1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @if $fluid { max-width: $width; }
    @elseif $static { width: $width; }

    @if $position == center {
      margin-right: auto;
      margin-left: auto;
    }
    @elseif $position == left {
      margin-right: auto;
      margin-left: 0;
    }
    @elseif $position == right {
      margin-right: 0;
      margin-left: auto;
    }

    $gradient: 'red 0';

    @for $size from 1 through $columns {
      @if $size != 1 {
        $value: value(($column + $gutter) * ($size - 1));
        $gradient: $gradient + ', red #{$value}';
      }

      $value: value(math(column, $size));
      $gradient: $gradient + ', red #{$value}';

      @if $size != $columns {
        $gradient: $gradient + ', transparent #{$value}';
        $value: value(($column + $gutter) * $size);
        $gradient: $gradient + ', transparent #{$value}';
      }
    }

    background: linear-gradient(to right, #{$gradient});
  }
}