// Default built-in layout
// @type {map}

$wff: (
  math:    fluid,
  width:   1200px,
  columns: 12,
  gutter:  30px,
) !default;

// Unique CSS identifier
// @type {none}

$wff-id: null;

// If true, display a grid
// @type {boolean}

$wff-debug: false !default;
