// Gridpoint default placeholders
// ------------------------------
// Can't be used in media queries
// Why?: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#_in_directives

// for container
%_cont-c-x {
  @if $math == fluid { max-width: _lv(width) }
  @if $math == static { width: _lv(width) }

  margin-right: auto;
  margin-left: auto;
}
%_cont-l-x {
  @if $math == fluid { max-width: _lv(width) }
  @if $math == static { width: _lv(width) }

  margin-right: auto;
  margin-left: 0;
}
%_cont-r-x {
  @if $math == fluid { max-width: _lv(width) }
  @if $math == static { width: _lv(width) }

  margin-right: 0;
  margin-left: auto;
}

// for row
%row-x {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// for column
@for $size from 1 through _lv(columns) {
  %_col-#{$size}-x {
    $result: (_cv(column-size) + _cv(gutter-size)) * $size;
    $result: $result - _cv(gutter-size);

    width: $result;
  }
}
%_col-f-x {
  float: left;
  margin-right: _cv(gutter-size);
}
%_col-l-x {
  float: right;
  margin-right: 0;
}

// for span
@for $size from 1 through _lv(columns) {
  %_span-#{$size}-x {
    width: _cv(span-size) * $size;
  }
}
%_span-f-x {
  float: left;
}
%_span-l-x {
  float: right;
}
