// Gridpoint variables
// -------------------
// Documentation: 


// Unique CSS identifier
// ---------------------
// Usefull for using @extend.

$_unique-id: null;

// Default internal layout
// -----------------------
// If you want to override it, don't edit this file,
// Use $default: () instead.

$_internal: (
  columns: 12,
  width:   1200px,
  gutters: 30px,
) !default;

// math calculation method
// -----------------------
// fluid (%) or static (unit)

$math: fluid !default;

// Override internal layout
// ------------------------
// If $default map is set by user.

@if variable-exists(default) {
  $_internal: layout($default) !global;
}
