body {
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto; }

.row:after {
  content: "";
  display: block;
  clear: both; }

.infinite {
  width: 53.98773%; }

.nest-last {
  width: 15.96639%; }

.nest-first {
  width: 68.48739%; }

.column {
  width: 82.63889%; }

.column {
  margin-left: 8.68056%; }

.infinite {
  float: left;
  margin-right: 7.36196%; }

.nest-first {
  float: left;
  margin-right: 5.04202%; }

.column {
  float: left;
  margin-right: 4.16667%; }

.nest-last {
  float: right;
  margin-right: 0; }

.container {
  background: #ddd; }

.column {
  background: #bbb; }

.nest-first {
  background: #b9b; }

.nest-last {
  height: 5em;
  background: #bb9; }

.infinite {
  height: 5em;
  background: #9bb; }
