body {
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto; }

.column {
  width: 82.63889%; }

.nest-last {
  width: 15.96639%; }

.nest-first {
  width: 68.48739%; }

.nest-2-last {
  width: 38.65031%; }

.nest-2-first {
  width: 53.98773%; }

.column {
  margin-left: 8.68056%; }

.column {
  float: left;
  margin-right: 4.16667%; }

.nest-first {
  float: left;
  margin-right: 5.04202%; }

.nest-2-first {
  float: left;
  margin-right: 7.36196%; }

.nest-last, .nest-2-last {
  float: right;
  margin-right: 0; }

.container {
  background: #ddd; }
