@import "../../scss/wff";

$the-layout: default-layout((width: 60em));

body {
  margin: 0;
  font-family: sans-serif;
}

// @include debug;

// We need to include placeholders once
// All your grid related CSS will go here
@include placeholders;

.container {
  @include container;
}

.column {
  @include column(10, shift 1);
}

.nest-first {
  @include column(7 of 10);
}

.nest-last {
  @include column(2 of 10, last);
}

.nest-2-first {
  @include column(4 of 7);
}

.nest-2-last {
  @include column(3 of 7, last);
}