@import "../../scss/wff";

$mobile: default-layout((columns: 2, gutter: 5em, external: true));
$desktop: layout((columns: 12, gutter: 2.5em));

body {
  margin: 0;
  font-family: sans-serif;
}

// @include debug;

// We need to include placeholders once
// All your grid related CSS will go here
@include placeholders;

.container {
  @include container;
}

.first {
  @include column;
}

.second{
  @include column(1, last);
}

@include breakpoint('screen and (min-width: 48em)', $desktop) {
  // @include debug;

  .container {
    @include external;
  }

  .first {
    @include column(8);
  }

  .second {
    @include column(4, last);
  }
}