body {
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 80em;
  width: 88.88889%;
  margin-right: auto;
  margin-left: auto; }

.first, .second {
  width: 46.875%; }

.first {
  float: left;
  margin-right: 6.25%; }

.second {
  float: right;
  margin-right: 0; }

@media screen and (min-width: 48em) {
  .second {
    width: 31.25%; }

  .first {
    width: 65.625%; }

  .first {
    float: left;
    margin-right: 3.125%; }

  .second {
    float: right;
    margin-right: 0; }

  .container {
    width: 94.11765%; } }
