body {
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 80em;
  width: 88.88889%;
  margin-right: auto;
  margin-left: auto; }

.column-first, .column-last {
  width: 46.875%; }

.column-first {
  float: left;
  margin-right: 6.25%; }

.column-last {
  float: right;
  margin-right: 0; }

.column-first {
  margin-bottom: 1em;
  height: 5em;
  background: #bbb; }

.column-last {
  margin-bottom: 1em;
  height: 5em;
  background: #ddd; }

@media screen and (min-width: 48em) {
  .column-last {
    width: 31.25%; }

  .column-first {
    width: 65.625%; }

  .column-first {
    float: left;
    margin-right: 3.125%; }

  .column-last {
    float: right;
    margin-right: 0; }

  .container {
    width: 94.11765%; } }
