body {
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto; }

.first {
  width: 7.1875%; }

.last {
  width: 17.5%; }

.shifted {
  width: 27.8125%; }

.shifted {
  margin-left: 10.3125%; }

.first, .shifted {
  float: left;
  margin-right: 3.125%; }

.last {
  float: right;
  margin-right: 0; }

.container {
  background: #ddd; }

.first {
  height: 5em;
  background: #bbb; }

.shifted {
  height: 5em;
  background: #b9b; }

.last {
  height: 5em;
  background: #bb9; }
