@import "../../scss/wff";

$the-layout: default-layout((columns: 10));

body {
  margin: 0;
  font-family: sans-serif;
}

// @include debug;

// We need to include placeholders once
// All your grid related CSS will go here
@include placeholders;

.container {
  @include container;
  background: #ddd;
}

.first {
  @include column;
  height: 5em;
  background: #bbb;
}

.shifted {
  @include column(3, shift 1);
  height: 5em;
  background: #b9b;
}

.last {
  @include column(2, last);
  height: 5em;
  background: #bb9;
}
