@import "../../scss/wff";

$the-layout: default-layout((columns: 10));

body {
  margin: 0;
  font-family: sans-serif;
}

// @include debug;

// We need to include placeholders once
// All your grid related CSS will go here
@include placeholders;

.container {
  @include container;
}

.first {
  @include column;
}

.second {
  @include column(3, shift 1);
}

.third {
  @include column(2, last);
}
