// First, we import wff, of course
@import "../../scss/wff";

// Overriding the default internal layout
$my-layout: default-layout((columns: 10));

// Small "reset"
// Use normalize.css, srsly
body {
  margin: 0;
  font-family: sans-serif;
}

// Display a linear-gradient based grid
// @include debug;

// We need to include placeholders once
// All your grid related CSS will go here
@include placeholders;

.container {
  @include container; // no parameter: will be centered
  background: #ddd;
}

.row {
  @include row; // apply clearfix
}

.first {
  @include column; // 1 column sized div
  height: 5em;
  background: #bbb;
}

.shifted {
  @include column(3, shift 1); // 3 columns sized div, pass 1
  height: 5em;
  background: #b9b;
}

.last {
  @include column(2, last); // 2 columns sized div, on right
  height: 5em;
  background: #bb9;
}
