body {
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto; }

.first {
  width: 7.1875%; }

.third {
  width: 17.5%; }

.second {
  width: 27.8125%; }

.second {
  margin-left: 10.3125%; }

.first, .second {
  float: left;
  margin-right: 3.125%; }

.third {
  float: right;
  margin-right: 0; }
