@import "../../scss/wff";

// $large-desktop: default-layout((columns: 10));
$small-desktop: layout((columns: 8));

body { margin: 0; }

@include placeholders;

.container {
  @include container;
}

.row {
  @include row;
}

.column {
  @include column(5);
  height: 100px;
  background: #ccc;
}

.osef {
  @include column(3 of 5);
  height: 100px;
  background: #aaa;
}

.col {
  @include column;
  height: 100px;
  background: #ccc;
}

// .shift {
//   @include column(1);
//   height: 100px;
//   background: #bbb;
// }

// .last {
//   @include column(1, last);
//   height: 100px;
//   background: #aaa;
// }

// @include breakpoint('(max-width: 768px)', $small-desktop) {
  // .column {
  //   @include column;
  // }
// }
