body {
  margin: 0; }

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

.row:after {
  content: "";
  display: block;
  clear: both; }

.col {
  width: 6.04167%; }

.column {
  width: 40.20833%; }

.column, .col {
  float: left;
  margin-right: 2.5%; }

.osef {
  width: 57.51295%; }

.osef {
  float: left;
  margin-right: 6.21762%; }

.column {
  height: 100px;
  background: #ccc; }

.osef {
  height: 100px;
  background: #aaa; }

.col {
  height: 100px;
  background: #ccc; }
